<div class="profileheader">
  <p>{{user.username}}</p>
</div>
<div class="layout_3col_left" style="width: 190px; padding: 5px 10px 0 10px; border: 1px solid gray">
  <div>
    <div class="NavList ProfileNavList EditableList">
      <h3 class="title">
        <div>Your Content</div>
      </h3>
      <ul style="padding-left: 0;">
        <div class="nav_item_selected">
          <div id="contentposts" style="padding-bottom: 5px">
            <li class="EditableListItem AnswersNavItem NavItem NavListItem not_removable title">
              <a href="/profile/{{currentUserId}}">Posts: <span class="list_count">{{user.numposts}}</span></a>
            </li>
          </div>
        </div>
        <div>
          <div id="contentquestions">
            <li class="EditableListItem NavItem QuestionsNavItem NavListItem not_removable title">
              <a href="/profile/{{currentUserId}}/questions">Questions: <span class="list_count">{{user.numquestions}}</span></a>
            </li>
          </div>
        </div>
      </ul>
      <div class="edit_mode_only"></div>
    </div>
  </div>
</div>
<div id="profilecontent" style="padding: 0 40px 0 40px">
  <div class="row justify-content-center">
    <div class="col-8" style="text-align: center">
      <h2 style="display: inline; border-bottom: 1px solid #bcbcbc">{{contenttitle}}</h2>
      {{#each posts as |post|}}
        <div class="card mb-0" style="margin-top: 10px">
          <div class="card-body">
            <h5 class="card-title text-center">{{post.title}}</h5>
            <p>{{post.body}}</p>
          </div>

          <div class="card-footer text-muted text-right">
            <span class="points-span">{{post.points}} points </span>
          </div>
        </div>
        <!-- Add everything between the <ul>...</ul> tags -->
        <div class="comments">
          <ul style="padding-left: 0; border: 1px solid #bcbcbc">
            {{#each post.comments as |comment|}}
              <div class="card-footer text-muted text-center mb-0">
                <p>{{comment.body}}</p>
              </div>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-8">
      {{#each questions as |question|}}
        <div class="card mb-0" style="margin-top: 10px">
          <div class="card-body">
            <h4 class="card-title text-center">{{question.question}}</h4>
          </div>

          <div class="card-footer text-muted text-right">
            <span class="points-span">{{question.points}} points </span>
          </div>
        </div>
        <!-- Add everything between the <ul>...</ul> tags -->
        <ul style="padding-left: 0; border: 1px solid #bcbcbc; font-size: 25px"">
          {{#each question.answers as |answer|}}
            <div class="card-footer text-center mb-0 text-success">
              <p>{{answer.answer}}</p>
            </div>
          {{/each}}
        </ul>

      {{/each}}

    </div>
  </div>
</div>
