<body>
  <div class="backbutton">
    <a href="/countries" class="previous">&#8249;</a>
  </div>
  <div>
    <h1 class="dodont" style="width: 35%; float: left; padding: 60px 0 0 50px">Do's</h1>
    <h1 class="dodont" style="width: 35%; float: right; padding: 60px 100px 0 0">Don'ts</h1>
    <div class="countrytitle row justify-content-center" style="font-family: 'Signika', sans-serif; padding-right: 30px">
      <h1>{{country.countryname}}</h1>
    </div>
    <div class="row justify-content-center links" style="font-size: 20px; margin-right: 7%">
      <a href="/countries/{{country.id}}/posts/new">New Post</a><br/>
    </div>
    <div class="row justify-content-center links" style="font-size: 20px; margin-right: 7%">
      <a href="/countries/{{country.id}}/questions">Questions?</a><br/>
    </div>

  </div>

  <div class='left-col'>
    <div class="row justify-content-center">
      <div class="col-8">
        {{#each dos as |post|}}
          <div class="card mb-0" style="margin-top: 25px">
            <div class="card-body" style="padding-top: 10px; padding-bottom: 0">
              <h5 class="card-title text-center">{{post.title}}</h5>
              <p>{{post.body}}</p>
            </div>

            <div class="card-footer text-muted text-right" style="padding: 5px">
              <span class="points-span">{{post.points}} points </span>

              <div class="btn-group btn-group-sm">
                <form action="/countries/{{post.country}}/posts/{{post.id}}" method="post" class="inline-form">
                  <input type="hidden" name="points" id="post-points" value="-1">
                  <button type="submit" class="downvote-button">-</button>
                </form>

                <form action="/countries/{{post.country}}/posts/{{post.id}}" method="post" class="inline-form">
                  <input type="hidden" name="points" id="post-points" value="1">
                  <button type="submit" class="upvote-button">+</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Add everything between the <ul>...</ul> tags -->
          <div class="comments">
            <ul style="padding-left: 0">
              {{#each post.comments as |comment|}}
                <div class="card-footer text-muted text-center mb-0">
                  <p>{{comment.body}}</p>
                </div>
              {{/each}}
              <div class="card-footer text-center mb-0" style="padding:10px">
                <a href="/countries/{{../country.id}}/posts/{{post.id}}/comments/new">New comment</a>
              </div>
            </ul>
          </div>
        {{/each}}
      </div>
    </div>

  </div>
  <div class='right-col'>
    <div class="row justify-content-center">
      <div class="col-8">
        {{#each donts as |post|}}
          <div class="card mb-0" style="margin-top: 25px">
            <div class="card-body" style="padding-top: 10px; padding-bottom: 0">
              <h4 class="card-title text-center">{{post.title}}</h4>
              <p>{{post.body}}</p>
            </div>

            <div class="card-footer text-muted text-right" style="padding: 5px">
              <span class="points-span">{{post.points}} points </span>

              <div class="btn-group btn-group-sm">
                <form action="/countries/{{post.country}}/posts/{{post.id}}" method="post" class="inline-form">
                  <input type="hidden" name="points" id="post-points" value="-1">
                  <button type="submit" class="downvote-button">-</button>
                </form>

                <form action="/countries/{{post.country}}/posts/{{post.id}}" method="post" class="inline-form">
                  <input type="hidden" name="points" id="post-points" value="1">
                  <button type="submit" class="upvote-button">+</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Add everything between the <ul>...</ul> tags -->
          <div class="comments">
            <ul style="padding-left: 0">
              {{#each post.comments as |comment|}}
                <div class="card-footer text-muted text-center mb-0">
                  <p>{{comment.body}}</p>
                </div>
              {{/each}}
              <div class="card-footer text-center mb-0" style="padding:10px">
                <a href="/countries/{{../country.id}}/posts/{{post.id}}/comments/new">New comment</a>
              </div>
            </ul>
          </div>

        {{/each}}

      </div>
    </div>

  </div>
</body>
