<div class="backbutton">
  <a href="/countries/{{country.id}}" class="previous">&#8249;</a>
</div>
<div class="countrytitle row justify-content-center" style="padding-right: 30px">
  <h1>{{country.countryname}}</h1>
</div>
<div style="text-align: center">
  <div class="row justify-content-center" style="display: inline; padding: 5px; border: 2px groove gray; margin: 5px">
    <a href="/countries/{{country.id}}/questions/new">New Question</a>
  </div>
</div>

<div class="row justify-content-center" style="padding-top: 15px">
  <div class="col-8">
    {{#each questions as |question|}}
      <div class="card mb-0">
        <div class="card-body" style="padding-top: 30px;">
          <h3>Question:</h3>
          <h3 class="card-title text-center">{{question.question}}</h3>
        </div>

        <div class="card-footer text-muted text-right" style="padding-left: 0">
          <div class="text-right" style="width:55%; float: left; font-size: 20px;">Answers</div>
          <span class="points-span" style="width: 30%; float: center; padding: 5px">{{question.points}} points </span>

          <div class="btn-group btn-group-sm" style="width: auto; float:right">
            <form action="/countries/{{question.country}}/questions/{{question.id}}" method="post" class="inline-form">
              <input type="hidden" name="points" id="question-points" value="-1">
              <button type="submit" class="downvote-button">-</button>
            </form>

            <form action="/countries/{{question.country}}/questions/{{question.id}}" method="post" class="inline-form">
              <input type="hidden" name="points" id="question-points" value="1">
              <button type="submit" class="upvote-button">+</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Add everything between the <ul>...</ul> tags -->
      <ul style="padding-left: 0">
        {{#each question.answers as |answer|}}
          <div class="card-footer text-center mb-0 text-success" style="font-size: 25px">
            <p>{{answer.answer}}</p>
          </div>
        {{/each}}
        <div class="text-center mb-0" style="padding:10px; border: 1px solid green">
          <a href="/countries/{{../country.id}}/questions/{{question.id}}/answers/new">New Answer</a>
        </div>
      </ul>

    {{/each}}

  </div>
</div>
